.swiper-slide-active .slide-bg {
  animation: zoomEffect 7s ease-in-out forwards;
  background-color: rgb(200, 200, 200);
}

@keyframes zoomEffect {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.09);
  }
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(196, 98, 0); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}


.imgsn {
  transition: transform 0.5s ease-in-out, background-color 0.5s;
}

.imgsn:hover {
  transform: scale(1.08);
  background-color: rgb(200, 200, 200);
}

.text{
  text-align: center;
}